<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="cartform">

        <div style="margin-top: 45px;" class="col-md-2 header-cart-wrapper hidden-xs hidden-sm">
            <ul class="header-cart">
                <li class="nav-cart">
                    <a href="tel:19003118" data-toggle="dropdown">
                        <i class="fa fa-phone" style="color: #ed1c24;"></i>
                        <span style="color: #ed1c24;">HOTLINE: <b style="color: #ed1c24;">1900 3118</b></span>
                    </a>
                </li>
            </ul>
        </div>

        <div style="margin-top: 5px;" class="col-md-2 header-cart-wrapper visible-xs visible-sm">
            <ul class="header-cart">
                <li class="nav-cart">
                    <a href="tel:19003118" data-toggle="dropdown">
                        <i class="fa fa-phone" style="color: #ed1c24;"></i>
                        <b style="color: #ed1c24;">1900 3118</b>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>

</body>
</html>
