<html xmlns:th="http://www.thymeleaf.org">
<body>

    <div th:fragment="footer">

        <footer id="footer" class="footer-new clearfix">
            <div class="footer-communication">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="row">
                                <div class="col-md-6 location" style="line-height: 1.5">
                                    <h4 style="line-height: 1.5">Công ty cổ phần truyền thông <br/>TNT ENTERTAINMENT</h4>
                                    <p>Địa Chỉ: LK1 L02 - KĐT Mới Splendora An Khánh, Xã An Khánh, Huyện Hoài Đức, Thành phố Hà Nội, Việt Nam</p>
                                    <p>Số giấy chứng nhận kinh doanh: 0110060837</p>
                                    <p>Ngày cấp: 15/07/2022</p>
                                    <p>Nơi cấp: Sở kế hoạch đầu tư TP Hà Nội</p>
                                </div>
                                <div class="col-md-6 app-store">
                                    <h4 style="line-height: 1.5">TẢI ỨNG DỤNG</h4>
                                    <p>Trải nghiệm đặt lịch nhanh chóng và nhiều tiện ích khác với ứng dụng BillBooking.</p>
                                    <div class="content-app">
                                        <span><a target="_blank" href="" rel="nofollow"><img
                                                    src="https://s3-hd.hotdeal.vn/original/2017/11/2/5a13d8cc6385a-icon-appstore.png"></a></span>
                                        <span><a target="_blank" href="" rel="nofollow"><img
                                                    src="https://s3-hd.hotdeal.vn/original/2017/11/2/5a13d8cc639d2-icon-googleplay.png"></a></span>
                                    </div>
                                    <div class="hot-line">
                                        Hotline: <a href="tel:19003118">1900 3118</a><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="social" style="margin-left: 10px;">
                                    <h4 style="line-height: 1.5">THAM GIA CỘNG ĐỒNG</h4>
                                    <p>Kết nối cùng hàng triệu thành viên BillBooking.</p>
                                    <div class="social-items">
                                        <a target="_blank" class="social-item social-item-facebook"
                                           href=""
                                           rel="nofollow"><i class="fa fa-facebook"></i></a>
                                        <a target="_blank" class="social-item social-item-twitter"
                                           href="" rel="nofollow"><i
                                                class="fa fa-twitter"></i></a>
                                        <a target="_blank" class="social-item social-item-google-plus"
                                           href="" rel="nofollow"><i
                                                class="fa fa-google-plus"></i></a>
                                        <a target="_blank" class="social-item social-item-linkedin"
                                           href=""
                                           rel="nofollow"><i class="fa fa-linkedin"></i></a>
                                        <a target="_blank" class="social-item social-item-youtube"
                                           href=""
                                           rel="nofollow"><i class="fa fa-youtube"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom ">
                <div class="container">
                    <div class="col-md-10">
                        © 2022. Toàn bộ bản quyền thuộc Công ty cổ phần truyền thông TNT ENTERTAINMENT<br>
                        Hotline: 1900 3118 - Email: info@billbooking.vn<br>
                        <p style="display: none">v1.0.2-SNAPSHOT</p><br>
                    </div>
                </div>
            </div>
        </footer>
    </div>

</body>
</html>
